<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.benio.training">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".class1.Class1Activity"
            android:label="@string/title_activity_my"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".class1.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".class1.Class1Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".class1.Class1Activity"/>
        </activity>
        <activity
            android:name=".class2.Class2Activity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".class1.Class1Activity"/>
        </activity>
        <activity android:name=".class4.Class4Activity">
        </activity>
        <activity android:name=".class3.Class3Activity">
        </activity>
        <activity
            android:name=".class3.DialogActivity"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name=".class5.Class5Activity">
        </activity>
        <activity android:name=".class6.Class6Activity">
        </activity>
        <activity android:name=".class7.Class7Activity">
        </activity>
        <activity android:name=".class8.Class8Activity">
        </activity>
        <activity android:name=".class9.Class9Activity">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>

        <activity
            android:name=".class9.FileSelectActivity"
            android:label="File Selector">
            <intent-filter>
                <action android:name="android.intent.action.PICK"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.OPENABLE"/>

                <data android:mimeType="text/plain"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>
    </application>

</manifest>